[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
django-extensions = "*"
werkzeug = "*"
django-environ = "*"
django-debug-toolbar = "*"
gunicorn = "*"
django-fontawesome = "*"
django-fontawesome-5 = "*"
psycopg2 = "*"
django-heroku = "*"

[requires]
python_version = "3.7"

[dev-packages]
autopep8 = "*"
