[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
django-extensions = "*"
werkzeug = "*"
django-environ = "*"
django-debug-toolbar = "*"
django-fontawesome = "*"
django-fontawesome-5 = "*"
django-registration-redux = "*"
psycopg2 = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2-binary = "*"
pillow = "*"

[requires]
python_version = "3.8"

[dev-packages]
autopep8 = "*"
