[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
django-extensions = "*"
werkzeug = "*"
django-environ = "*"
registration-redux = "*"
django-registration-redux = "*"
install = "*"
pillow = "*"
django-debug-toolbar = "*"
bootstrap-icons = "*"
django-fontawesome = "*"

[requires]
python_version = "3.7"

[dev-packages]
autopep8 = "*"
