{% extends 'base.html' %} {% load static %} {% block meta %} {% endblock %} {% block title %} {% csrf_token %}
<title>FlashCards</title>
{% endblock %} {% block content %}

< <h1>{{deck.subject}} Cards</h1>

    {% for card in cards %}

    <div class='card-container'>
        <div class=" flip-card ">
            <div class="flip-card-inner ">
                <div class="flip-card-front ">
                    <h1> question: </h1>

                    <p>{{card.question}}</p>
                    

                </div>
                <div class="flip-card-back ">
                    <h1>Answer</h1>

                    <p>{{card.answer}}</p>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
    <div>
        <div>

        </div>

    </div>

    <div id='button' class='general-button'>Flip Card</div>

    </body>


    {% endblock %}