{% extends 'base.html' %} 
{% load static %}
{% block head %}
<script defer src="{% static 'js/flashcards.js' %}"></script>
{% endblock %}
{% block content %}
< <h1>{{deck.subject}}</h1>
<div class = 'card-w-button-container'>
    <div class='button-container' id='button-container'>
        <button id="last" class='Smallnavlinks'>Last</button>
        </div>
    {% for card in cards %}

    <div class="card-container">
        <div id='{{card.pk}}' class=" flip-card ">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    {% comment %} <h1 class='cardTitle'> question: </h1> {% endcomment %}

                    <p class='cardText'>{{card.question}}</p>
                </div>
                <div class="flip-card-back ">

                    {% comment %} <h1 class='cardTitle'>Answer</h1> {% endcomment %}

                    <p class='cardText'>{{card.answer}}</p>
                     <div>
                        <a class='minilinks' href={% url 'add-card' %}>Add</a>
                        <a class='minilinks' href={% url 'edit-card' pk=card.pk %}>Edit</a>
                        <a class='minilinks' href={% url 'delete-card' pk=card.pk %}>Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endfor %}
    
    <div class='button-container' id='button-container'>
        <button ID="next" class='Smallnavlinks'>Next</button>
        </div>
       
    </div>

    <button id='flip' class='fliplink'>Flip</button>
    
     {% endblock %}