{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<h1>{{deck.subject}}</h1>
<div class='container' id="container"></div>
<div class='flash-card-schema-container'>
<div class='full-deck'>
    <div id='last-card' class='last-card hidden-last-card-menu'>
        <h1>The End.</h1>
        
        <ul>
            <li><a class='minilinks' href={% url 'flashcards' pk=deck.pk %}>Go Again.</a></li>

            <li><a class='minilinks' href={% url 'home' %}>Choose Another Deck</a></li>

            <li><a class='minilinks' href={% url 'delete-deck' pk=deck.pk %} onclick="return confirm('Are you sure you want to delete this deck? Deleting a deck cannot be undone.')">Delete Deck</a></li>
        </ul>
    </div>
    {% if cards %} {% for card in cards %}
    <div id='{{card.pk}}' class="card-container">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">


                    <p class='card-text'>
                        {{card.question}}</p>
                    <p> {{card.pk}} </p>
                </div>
                <div class="flip-card-back ">

                    <p class='card-text'>
                        {{card.answer}}</p>
                    <div class='minilinks-container'>
                        <a class='minilinks' href={% url 'edit-card' pk=card.pk %}>Edit</a>

                        <a class='minilinks' href={% url 'delete-card' pk=card.pk %} onclick="return confirm('Are you sure you want to delete this card? Deleting a card cannot be undone.')">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} 
    {% else %}
    <p>You have no cards in this deck. </p>
    <div>
        <a class='minilinks' href={% url 'add-card' pk=deck.pk %}>Add Cards</a> | <a class='minilinks' href={% url 'home' %}>Back to Decks.</a>
    </div>
    {% endif %}

</div>
 
{% if cards %}
<div id='fliplink-container' class='fliplink-container'>
    <i ID='last' class="fas fa-arrow-alt-circle-left larger-icon"></i>
    <div class='flip-button' id='flip-button'>Flip</div>
    <i ID='next' class="fas fa-arrow-alt-circle-right larger-icon"></i>
{% endif %}
</div>
</div>

<script defer src="{% static 'js/flashcards.js' %}"></script>

{% endblock %}