{% extends 'base.html' %}{% load static %} {% block content %}

<h2>Your Decks</h2>
<div class="deck-container">

    <div class='add-deck wiggle-me'>
        <a href={% url 'add-deck' %}>
            <h2>Create Deck</h2>
        </a>
    </div>
    {% for deck in decks %}

    <div pk='{{deck.pk}}' class="deck wiggle-me">
        <h2>{{deck.subject}}</h2>
        <div class='minilinks-container hidden'>
            <a class='minilinks' href={% url 'add-card' pk=deck.pk %}>Add Cards</a>

            <a class='minilinks' href={% url 'delete-deck' pk=deck.pk %} onclick="return confirm('Are you sure you want to delete this deck? Deleting a deck cannot be undone.')">Delete Deck</a>


            <a class='minilinks' href={% url 'flashcards' pk=deck.pk %}>Practice</a>
        </div>

    </div>
    {% endfor %}
</div>

<script defer src="{% static 'js/index.js' %}"></script>

<p>Hello World: {{ display }}</p>

<script>
    const vueApp = new Vue({
        el: '#vapp',
        data: {
            display: 'redbox'
        }
    })
</script>

{% endblock %}