{% extends 'base.html' %}{% load static %} {% block content %}

<p class="deck-title">Your Decks</p>

{% comment %} <form method = 'GET' action='{% url 'search' %}'>
<input name ='q' value = '{{request.GET.q}}'placeholder='search...'>
<button type='submit'>Search</button>

</form> {% endcomment %}

{% if not decks %}
    
    <p class="deck-title">You have no Decks yet...</p>
    <div>
    <a href={% url 'add-deck' %}>
    </div>
    
{% endif %}

<a href={% url 'add-deck' %}>
            <h2>Create Deck</h2>
        </a>

<div class="deck-container">

    {% for deck in decks %}

    <div pk={{deck.pk}} class="deck">
    <div class="card-top">
  <a class='minilinks' href={% url 'delete-deck' pk=deck.pk %} onclick="return confirm('Are you sure you want to delete this deck? Deleting a deck cannot be undone.')"><i class="fas fa-trash"></i></a>
  <i class="minilinks far fa-star"></i>
  </div>
 
  <h3 class='white'>{{deck.name}}</h3>

  <h4>Subject: {{deck.subject}}</h4> 

  <div class="deck-details">
    <p class="deck-details-title">Deck Details</p>
    <p class="deck-details-body">Created: {{deck.created_at}}</p>
    <p>{{cards.len}}</p>
  </div>

<div class="card-top">
  <a class='minilinks' href={% url 'flashcards' pk=deck.pk %}><i class="fas fa-play"></i></a>
    <a class='minilinks' href={% url 'add-card' pk=deck.pk %}><i class="fas fa-plus"></i></a>
</div>
  </div>
  
{% endfor %}    
</div>

<script defer src="{% static 'js/index.js' %}"></script>

{% endblock %}