* {
    box-sizing: border-box;
    padding: 0;
    margin-left: 0;
    font-family: var(--default-font);
    color: var(--defaultText);
    text-align: center;
    padding: 15px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    text-align: center;
}


/* css variables for easy alteration */

:root {
    --box-shadow: rgba(0, 0, 0, 0.2);
    --form-background: #fff;
    --form-text: #484848;
    --form-input-border: #e5e5e5;
    --border-color: rgb(153, 170, 223);
    --button-hover: #ff5a5f;
    --button-text-color: #fff;
    --button-background: rgb(173, 55, 81);
    --link-color: rgb(120, 149, 222);
    --background-color: rgb(#fff);
    --last-card: rgb(42, 59, 85);
    /* Fonts  */
    --default-font: "Helvetica", sans-serif;
    --default-text-color: rgb(153, 170, 223);
    --default-blue: rgb(153, 170, 223);
    --default-font-weight: 400;
}

form {
    display: flex;
    flex-flow: column;
    align-content: center;
    height: 70%;
    justify-content: flex-start;
    background: var(--form-background);
    width: 60%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 16px 40px var(--box-shadow);
}

#id_name {
    padding: 0.5rem;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 1rem;
    width: 100%;
    color: darkslategray;
    border: solid 1px darkslategray;
    border-radius: 0.25rem;
    cursor: pointer;
    -webkit-appearance: none;
}

#id_name:focus {
    border: solid 3px lightskyblue;
}

form input,
textarea {
    display: inline-block;
    flex-basis: inherit;
    flex-grow: inherit;
    margin: 0.5rem 0;
    font-size: 16px;
    padding: 5px 5px 5px 0px;
    border: solid 3px red;
    font-weight: 400;
    border-radius: 0.25rem;
    font-weight: bold;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

form input:focus textarea {
    height: 5rem;
    border: solid lightskyblue 5px;
}

button {
    padding: 0.5rem;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 1rem;
    background: var(--button-background);
    width: 100%;
    color: var(--button-text-color);
    border: solid 3px var(--border-color);
    border-radius: 0.25rem;
    cursor: pointer;
    -webkit-appearance: none;
}

button:hover {
    background-color: #ff5a5f;
}