* {
    box-sizing: border-box;
    padding: 0;
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

:root {
    --link-color: #fff;
    --link-hover: red;
    --link-active: red;
    --minilink: #fff;
    --minilink-hover: red;
    --card-text-color: #fff;
    --text-color: #fff;
    --box-shadow: rgba(0, 0, 0, 0.2);
    --form-background: #fff;
    --form-text: #484848;
    --form-input-border: #e5e5e5;
    --accent: red;
    --button-border: #ff5a5f;
    --button-text-color: #fff;
    --button-background: rgb(173, 55, 81);
    --card-outline: rgb(138, 60, 60);
    --dark-red: rgb(173, 55, 81);
    --card-front: rgb(173, 55, 81);
    --link-color: rgb(120, 149, 222);
    --background-color: rgb(58, 66, 109);
    --default-text: gray;
    --last-card: rgb(42, 59, 85);
    /* Fonts  */
    --default-fonts: "Saira Condensed", sans-serif;
    --navlinks: "Londrina Outline", cursive;
}

.last-card {
    color: var(--last-card);
    font-family: sans-serif;
    height: 300px;
    width: 300px;
    border: dashed var(--text-color) 6px;
    text-align: center;
    border-radius: 25px;
    padding: 25px;
    padding-top: 25px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.last-card:hover {
    color: var(--dark-red) 6px;
    border: dashed var(--dark-red) 6px;
    cursor: pointer;
}

button {
    -webkit-appearance: none;
}

.full-deck {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 200px;
}

.card-nav-button {
    padding: 60px;
    margin: 100x;
}

a:link {
    text-decoration: none;
    color: var(--link-color);
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--link-hover);
}

a:active {
    text-decoration: none;
    color: var(--link-active);
}

.banner {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.banner-heading {
    font-family: "Raleway", sans-serif;
    font-size: 300%;
    color: white;
    text-align: center;
    margin-left: 60px;
}

.button-container {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    width: auto;
    justify-content: space-evenly;
    padding-bottom: 10px;
    padding-top: 25px;
    /* border: solid red 6px; */
}

.navlinks {
    font-family: var(--navlinks);
    font-size: 300%;
    color: var(--link-color);
}

.ul {
    list-style-type: none;
}

.fliplink {
    font-family: "Londrina Outline", cursive;
    font-size: 300%;
    color: white;
    text-align: center;
    -webkit-appearance: none;
    padding-bottom: 25px;
}

.fliplink-container {
    display: flex;
    justify-content: center;
}

.fliplink:hover {
    color: var(--accent);
    cursor: pointer;
}

form {
    background: var(--form-background);
    max-width: 441px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 0.25rem;
    box-shadow: 0 16px 40px var(--box-shadow);
}

form input,
textarea {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    font-size: 16px;
    padding: 5px;
    border: solid 1px var(--form-input-border);
    font-weight: 400;
    border-radius: 0.25rem;
    color: var(--form-text);
    font-family: "Oswald";
    letter-spacing: 1px;
}

textarea {
    height: 5rem;
}

button {
    padding: 0.5rem;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 1rem;
    background: var(--button-background);
    width: 100%;
    color: var(--button-text-color);
    border: solid 1px var(--button-border);
    border-radius: 0.25rem;
    cursor: pointer;
}

body {
    background-color: var(--background-color);
}

.minilinks-container {
    display: flex;
    flex-flow: row;
    align-items: space-around;
    align-content: center;
    width: auto;
    justify-content: space-evenly;
}

.minilinks {
    font-family: "Amatic SC", cursive;
    color: var(--minilink);
    padding: 10px;
    font-size: 125%;
}

.minilinks:hover {
    color: var(--minilink-hover);
    cursor: pointer;
}

.cardTitle {
    font-family: "Amatic SC", cursive;
    color: white;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 25px;
}

.cardText {
    font-family: "Amatic SC", cursive;
    color: var(--card-text-color);
    font-size: 200%;
    text-align: center;
    /* padding-top: 45px; */
    padding-bottom: 25px;
    padding-top: 95px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

h1 {
    font-family: "Amatic SC", cursive;
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h3,
h4,
h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

.card-container {
    position: absolute;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 500px;
    /* padding: 0.5rem; */
    border-radius: 25px;
    /* z-index: 0; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 var(--box-shadow);
    border-radius: 25px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 25px;
}

.flip-card-front {
    background-color: var(--card-front);
    border: solid var(--card-outline) 6px;
    color: black;
    border-radius: 25px;
}

.flip-card-back {
    background-color: rgba(113, 137, 255, 1);
    border: solid rgb(177, 30, 30) 6px;
    color: white;
    transform: rotateY(180deg);
    border-radius: 25px;
}


/*   */

.add-deck {
    color: rgb(42, 59, 85);
    font-family: sans-serif;
    height: 200px;
    width: 200px;
    border: dashed white 6px;
    text-align: center;
    border-radius: 25px;
    justify-content: center;
    padding: 25px;
    padding-top: 35px;
    padding-bottom: 65px;
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.add-deck:hover {
    color: rgb(177, 30, 30) 6px;
    border: dashed rgb(177, 30, 30) 6px;
}

.deck-container {
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    flex: 1;
}

@-ms-keyframes wiggle {
    0% {
        -ms-transform: rotate(3deg);
    }
    50% {
        -ms-transform: rotate(-3deg);
    }
    100% {
        -ms-transform: rotate(3deg);
    }
}

@-moz-keyframes wiggle {
    0% {
        -moz-transform: rotate(3deg);
    }
    50% {
        -moz-transform: rotate(-3deg);
    }
    100% {
        -moz-transform: rotate(3deg);
    }
}

@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(-3deg);
    }
    100% {
        -webkit-transform: rotate(3deg);
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}

.wiggle-me:hover {
    -ms-animation: wiggle 0.3s 2;
    -moz-animation: wiggle 0.3s 2;
    -webkit-animation: wiggle 0.3s 2;
    animation: wiggle 0.3s 2;
}

.deck {
    color: rgb(42, 59, 85);
    font-family: sans-serif;
    height: 200px;
    width: 200px;
    background-color: rgb(173, 55, 81);
    border: solid rgb(177, 30, 30) 3px;
    text-align: center;
    border-radius: 25px;
    justify-content: center;
    margin: 25px;
    align-content: center;
    vertical-align: middle;
    padding: 25px;
    padding-top: 35px;
    box-shadow: 0 4px 8px 0 var(--box-shadow);
}