* {
    box-sizing: border-box;
    padding: 0;
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}


/* for mobile responsiveness */


/* @media screen and (max-width: 600px) {} */

:root {
    --link-color: #fff;
    --link-hover: red;
    --link-active: red;
    --minilink: #fff;
    --minilink-hover: red;
    --card-text-color: #fff;
    --text-color: #fff;
    --box-shadow: rgba(0, 0, 0, 0.2);
    --form-background: #fff;
    --form-text: #484848;
    --form-input-border: #e5e5e5;
    --accent: red;
    --button-border: #ff5a5f;
    --button-text-color: #fff;
    --button-background: rgb(173, 55, 81);
    --card-outline: rgb(138, 60, 60);
    --dark-red: rgb(173, 55, 81);
    --card-front: rgb(173, 55, 81);
    --link-color: rgb(120, 149, 222);
    --background-color: rgb(58, 66, 109);
    --default-text: gray;
    --last-card: rgb(42, 59, 85);
    /* Fonts  */
    --default-fonts: "Saira Condensed", sans-serif;
    --navlinks: "Londrina Outline", cursive;
}

.menu-icon {
    font-size: 2rem;
    color: var(--button-border);
    padding-bottom: 60px;
}

.menu-icon:hover {
    cursor: pointer;
    color: white;
}

.larger-icon {
    font-size: 4em;
    color: white;
}

.larger-icon:hover {
    color: red;
    cursor: pointer;
}

.last-card {
    color: var(--last-card);
    font-family: sans-serif;
    height: 300px;
    width: 300px;
    border: dashed var(--text-color) 6px;
    text-align: center;
    border-radius: 25px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    z-index: -1;
}

.last-card:hover {
    color: var(--dark-red) 6px;
    border: dashed var(--dark-red) 6px;
    cursor: pointer;
}

.full-deck {
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 200px;
    height: 100px;
    z-index: 0;
    opacity: 0.99;
}

.card-nav-button {
    padding: 60px;
    margin: 100x;
}

.deck-text {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    size: 200%;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--link-hover);
}

a:active {
    text-decoration: none;
    color: var(--link-active);
}

.banner {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    align-content: center;
    text-align: center;
}

.banner-heading {
    font-family: "Raleway", sans-serif;
    font-size: 300%;
    color: white;
    text-align: center;
}

.button-container {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    width: auto;
    justify-content: space-evenly;
    padding-bottom: 10px;
    padding-top: 25px;
    /* border: solid red 6px; */
}

.navlinks {
    font-family: var(--navlinks);
    font-size: 300%;
    color: var(--link-color);
}

ul {
    list-style-type: none;
    padding-top: 50px;
}

.flash-card-schema-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.fliplink-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-width: 100px;
    max-width: 300px;
    margin-top: 90px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}

.fliplink {
    display: flex;
    flex-basis: 1;
    font-size: 300%;
    color: white;
    text-align: center;
    -webkit-appearance: none;
    padding-bottom: 25px;
}

.fliplink:hover {
    color: var(--accent);
    cursor: pointer;
}

form {
    display: flex;
    flex-flow: column;
    align-content: center;
    height: 70%;
    justify-content: flex-start;
    background: var(--form-background);
    width: 60%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 16px 40px var(--box-shadow);
}

#id_name,
#id_subject,
#id_description,
#id_question,
#id_answer,
#id_deck {
    padding: 0.5rem;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 1rem;
    width: 100%;
    color: darkslategray;
    border: solid 1px darkslategray;
    border-radius: 0.25rem;
    cursor: pointer;
    -webkit-appearance: none;
}

#id_name:focus,
#id_subject:focus,
#id_description:focus,
#id_question:focus,
#id_answer:focus,
#id_deck:focus {
    border: solid 3px lightskyblue;
}

form input,
textarea {
    display: inline-block;
    flex-basis: inherit;
    flex-grow: inherit;
    margin: 0.5rem 0;
    font-size: 16px;
    padding: 5px 5px 5px 0px;
    border: solid 3px var(--form-input-border);
    font-weight: 400;
    border-radius: 0.25rem;
    font-weight: bold;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

form input:focus textarea {
    height: 5rem;
    border: solid lightskyblue 5px;
}

button {
    padding: 0.5rem;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 1rem;
    background: var(--button-background);
    width: 100%;
    color: var(--button-text-color);
    border: solid 3px var(--button-border);
    border-radius: 0.25rem;
    cursor: pointer;
    -webkit-appearance: none;
}

button:hover {
    background-color: #ff5a5f;
}

::placeholder {
    color: gray;
}

.flip-button {
    width: 100px;
    min-width: 90px;
    height: 64px;
    font-family: "Amatic SC", cursive;
    color: var(--background-color);
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    font-size: 200%;
    padding-top: 10px;
    padding-bottom: 6px;
    vertical-align: middle;
}

.flip-button:hover {
    color: var(--link-color);
}

.details {
    width: 300px;
    background-image: linear-gradient(22, 22, 22, 22);
    position: absolute;
    z-index: 100;
}

body {
    background-color: var(--background-color);
    margin: 25px;
    color: gray;
}

.minilinks-container {
    display: flex;
    padding: 5px;
    flex-flow: row;
    align-items: space-around;
    align-content: center;
    width: auto;
    justify-content: space-evenly;
}

.minilinks {
    font-family: "Amatic SC", cursive;
    color: var(--minilink);
    padding: 10px;
    font-size: 125%;
}

.minilinks:hover {
    color: var(--minilink-hover);
    cursor: pointer;
}

.cardTitle {
    font-family: "Amatic SC", cursive;
    color: white;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 25px;
}

.card-text {
    font-family: "Amatic SC", cursive;
    color: var(--card-text-color);
    font-size: 200%;
    text-align: center;
    padding: 30px 10px 25px 10px;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.hidden-last-card-menu {
    display: none;
}

.visible {
    display: block;
}

h1 {
    font-family: "Amatic SC", cursive;
    color: var(--text-color);
    text-align: center;
    padding: 0rem;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h3,
h4,
h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.login-text {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.card-container {
    position: absolute;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 500px;
    /* padding: 0.5rem; */
    border-radius: 25px;
    /* z-index: 0; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 var(--box-shadow);
    border-radius: 25px;
}


/* need to add to flip card and flip-card-inner */

.flip-with-js {
    transform: rotateY(180deg);
}


/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
} */

.flip-card-front,
.flip-card-back {
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-flow: column;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 25px;
}

.flip-card-front {
    background-color: var(--card-front);
    border: solid var(--card-outline) 6px;
    color: black;
    border-radius: 25px;
}

.flip-card-back {
    background-color: rgba(113, 137, 255, 1);
    border: solid rgb(177, 30, 30) 6px;
    color: white;
    transform: rotateY(180deg);
    border-radius: 25px;
}

.add-deck {
    color: rgb(42, 59, 85);
    font-family: sans-serif;
    height: 200px;
    width: 200px;
    border: dashed white 6px;
    text-align: center;
    border-radius: 25px;
    justify-content: center;
    padding: 25px;
    padding-top: 35px;
    padding-bottom: 65px;
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.add-deck:hover {
    color: rgb(177, 30, 30) 6px;
    border: dashed rgb(177, 30, 30) 6px;
}

.deck-container {
    max-width: 100%;
    min-width: 240px;
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    align-content: center;
    justify-content: center;
}

@-ms-keyframes wiggle {
    0% {
        -ms-transform: rotate(3deg);
    }
    50% {
        -ms-transform: rotate(-3deg);
    }
    100% {
        -ms-transform: rotate(3deg);
    }
}

@-moz-keyframes wiggle {
    0% {
        -moz-transform: rotate(3deg);
    }
    50% {
        -moz-transform: rotate(-3deg);
    }
    100% {
        -moz-transform: rotate(3deg);
    }
}

@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotate(3deg);
    }
    50% {
        -webkit-transform: rotate(-3deg);
    }
    100% {
        -webkit-transform: rotate(3deg);
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(3deg);
    }
}

.wiggle-me:hover {
    -ms-animation: wiggle 0.3s 2;
    -moz-animation: wiggle 0.3s 2;
    -webkit-animation: wiggle 0.3s 2;
    animation: wiggle 0.3s 2;
}

.deck {
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    color: rgb(42, 59, 85);
    font-family: sans-serif;
    height: 200px;
    width: 200px;
    background-color: rgb(173, 55, 81);
    border: solid rgb(177, 30, 30) 3px;
    text-align: center;
    border-radius: 25px;
    justify-content: center;
    margin: 25px;
    align-content: center;
    vertical-align: middle;
    padding: 5px;
    box-shadow: 0 4px 8px 0 var(--box-shadow);
}


/* dropdown  */


/* Dropdown Button */

.dropbtn {
    color: white;
    padding: 0px;
    font-size: 25px;
    border: none;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
    border-radius: 25px;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: var(--background-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: white;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    margin: 20px;
    width: 400px;
    height: 8px;
}