<!DOCTYPE html>

<html lang="en">
{% load static %}

<head>

    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Title</title>
    
</head>
<header>
<img src="static/images/cards-logo.png"></img>
</header>
<body>
{% block content%}
{% endblock %}
   <script defer src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>

</html>